@use 'font';
@use 'response';
@use 'variable';
@use 'reset';
@use 'ckeditor';
@use './overide/index';

html {
  zoom: var(--zoom);
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.4;
  color: var(--text-primary) !important;
  background-color: var(--bg-primary);
  min-width: 1400px;
  height: var(--device-height);
  overflow-y: hidden;
  overflow-x: auto;
}

// Ẩn overlay khi export pdf bị lỗi
// .html2pdf__overlay {
// z-index: -1 !important;
// }

.mouse-select__frame {
  background-color: var(--hover-primary);
  border: 1px solid var(--border-primary);
  opacity: 0.5;
}

.title {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 3rem;
  margin: 1.2rem 0;
  color: var(--text-primary) !important;
}

.pointer-events-none {
  pointer-events: none;
}

.cursor-pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

*::-webkit-scrollbar {
  height: 0.8rem;
  width: 0.8rem;
}

*::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: var(--dt-outline-variant, rgb(218, 220, 224));
  border-radius: 10rem;
  border: none;
  height: 0.8rem;
  padding: 10rem 0 0;
  width: 0.8rem;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
  border: none;
  box-shadow: none;
  height: 0.8rem;
  width: 0.8rem;
}

@for $i from 1 through 100 {
  .text-#{$i} {
    font-size: #{$i}px;
  }

  .m-#{$i} {
    margin: #{$i}px;
  }

  .mx-#{$i} {
    margin-left: #{$i}px;
    margin-right: #{$i}px;
  }

  .my-#{$i} {
    margin-top: #{$i}px;
    margin-bottom: #{$i}px;
  }

  .ml-#{$i} {
    margin-left: #{$i}px;
  }

  .mr-#{$i} {
    margin-right: #{$i}px;
  }

  .mt-#{$i} {
    margin-top: #{$i}px;
  }

  .mb-#{$i} {
    margin-bottom: #{$i}px;
  }

  .p-#{$i} {
    padding: #{$i}px;
  }

  .px-#{$i} {
    padding-left: #{$i}px;
    padding-right: #{$i}px;
  }

  .py-#{$i} {
    padding-top: #{$i}px;
    padding-bottom: #{$i}px;
  }

  .pl-#{$i} {
    padding-left: #{$i}px;
  }

  .pr-#{$i} {
    padding-right: #{$i}px;
  }

  .pt-#{$i} {
    padding-top: #{$i}px;
  }

  .pb-#{$i} {
    padding-bottom: #{$i}px;
  }
}
