.ant-collapse > .ant-collapse-item .ant-collapse-header-collapsible-only .ant-collapse-header-text {
  flex: unset;
}

.ant-collapse-large > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
  padding: 1.2rem;
}

.ant-collapse .ant-collapse-header {
  background-color: var(--bg-primary);
  padding: 1.2rem !important;
}
