.ant-steps-item-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title::after {
  background-color: var(--border-primary);
}

.ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title {
  font-weight: 500;
  font-size: 1.8rem;
  color: var(--primary);
}

.ant-steps-item-finish .ant-steps-item-icon {
  background-color: var(--primary) !important;
}

.ant-steps-finish-icon {
  color: #fff;
}
