.ant-table-wrapper {
  &.--disabled {
    pointer-events: none;
    tbody tr {
      background-color: #f2f2f2;
    }
  }
  &.--border-last-row .ant-table-body tr:last-child td {
    border-bottom: 1px solid var(--border-primary);
  }
}

tr.ant-table-expanded-row > td,
tr.ant-table-expanded-row:hover > td {
  background-color: var(--bg-primary);
}

.ant-table {
  border: 1px solid var(--border-primary);
  border-radius: 0;
  // .ant-table-container table {
  //   border-radius: 0;
  // }
}

.ant-table-thead {
  height: var(--table-row-height);

  & > tr > th {
    padding: 0.8rem 1.2rem !important;

    &::before {
      display: none;
    }
  }
}

.ant-table-body {
  overflow-y: auto !important;

  tr.ant-table-measure-row td {
    padding: 0 !important;
  }
}

.ant-table-tbody > tr {
  height: var(--table-row-height);

  &.--disabled td {
    background-color: var(--table-row-disabled) !important;
    pointer-events: none;
  }

  &.--return td {
    background-color: rgba($color: #af52de, $alpha: 0.1);
  }

  &.--error td {
    background-color: rgba($color: #e63232, $alpha: 0.1);
  }

  &.--warning td {
    background-color: rgba($color: #ff9500, $alpha: 0.1);
  }

  &.--active {
    background-color: var(--table-row-hover-color);
  }

  &.--selected {
    background-color: var(--table-row-hover-color);
  }

  &.--updating {
    opacity: 0.6;
    pointer-events: none;
  }

  &.--deleting {
    background-color: rgba($color: #e63232, $alpha: 0.2);
    pointer-events: none;
  }

  .row-actions {
    display: none;
  }

  &:last-child td {
    border-bottom: none;
  }

  & > td {
    padding: 0.8rem 1.2rem !important;
  }

  &:hover {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);

    .row-actions {
      display: flex;
    }
  }
}

.ant-table-column-sorters {
  justify-content: unset;
}

.ant-table-column-title {
  flex: unset;
}
