.ant-tree {
  margin-bottom: 1.2rem;

  &.--disabled-switcher {
    .ant-tree-switcher {
      opacity: 0;
      visibility: hidden;
      display: none;
    }
  }

  .ant-tree-treenode {
    padding-bottom: 1.2rem;
  }

  .ant-tree-checkbox-inner {
    border-radius: 0;
    width: 1.8rem;
    height: 1.8rem;
  }

  .ant-tree-node-content-wrapper {
    line-height: 2.8rem;
  }
}
