h1,
h2,
h3,
h4,
h5,
h6 {
  &.ant-typography {
    color: var(--text-primary);
    font-weight: 500;
    margin-bottom: 0;
  }
}

h5.ant-typography {
  font-size: 1.8rem;
}

h3.ant-typography {
  font-size: 2.3rem;
}

.ant-typography + .ant-typography {
  margin-top: 0 !important;
}

.ant-typography.ant-typography-secondary {
  color: var(--text-secondary);
}
